name: Check packages
on:
  push: { branches: ["master"] }
  pull_request: { branches: ["master"] }
  workflow_call:
  workflow_dispatch:

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    concurrency:
      group: check-packages
      cancel-in-progress: true
    permissions:
      actions: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@5bb6a3b3abe66fd09bbf250dce8ada94f856a703 # v30
      - name: Cache Nix
        uses: nix-community/cache-nix-action@135667ec418502fa5a3598af6fb9eb733888ce6a # v6.1.3
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
      - name: Check packages
        run: "nix flake check -L --keep-going"
