name: Update flake
on:
  workflow_dispatch:
  schedule:
    # runs weekly at 10:10am on Sunday and Thursday
    - cron: "10 10 * * 0,4"

permissions: {}

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@4
        with:
          persist-credentials: false
      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@5bb6a3b3abe66fd09bbf250dce8ada94f856a703 # v30
      - name: Update flake.lock
        id: update-flake
        uses: DeterminateSystems/update-flake-lock@428c2b58a4b7414dabd372acb6a03dba1084d3ab # v25
        with:
          commit-msg: "bump: flake.lock"
          pr-title: "bump: flake.lock"
          pr-labels: | # Labels to be set on the PR
            dependencies
            automated
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
